<div class="card">
  <div class="card-body">
    <h5 class="card-title">Order Sumarry</h5>
    <p class="card-text">You have {{ cart.totalItems }} items in your shopping cart.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let item of cart.itemsList">
        {{ item.quantity }} X {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice | currency:'USD':'sybmol' }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right">
          {{ cart.totalPrice | currency:'USD':'sybmol' }}
        </div>
      </li>
    </ul>
  </div>
</div>