<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{cart.totalItems }} in your shopping cart</p>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.itemsList">
        <td><div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail"></div></td>
        <td>{{ item.product.title }}</td>
        <td>
          <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">{{ item.totalPrice | currency: "USD" : symbol }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">{{ cart.totalPrice | currency: "USD" : symbol }}</td>
      </tr>
    </tfoot>
  </table>
  <button class="btn btn-danger btn-sm" (click)="clearCart()">Clear Shopping Cart</button>
</ng-container>